{% extends 'base.html' %}

{% block title %}Create answer{% endblock %}

{% block content %}
    <h3>Create answer</h3>
    <h2>{{ poll.text }}</h2>
     <form action="{% url "answer_add" poll.pk %}" method="POST">
        {% csrf_token %}
         {% for choice in choices %}
            <input type="radio" value="{{ choice.pk }}" id="{{ choice.pk }}"
                   name="value"> {{ choice.text }}<hr/>
            {% endfor %}
            <input type="submit" value="select" class="btn btn2">
    </form>
{% endblock %}

{#   <h1>Create Answer to "{{ poll }}"</h1>#}
{##}
{#   <form action="{% url "poll_answer" poll.pk %}" method="POST">#}
{#   {% csrf_token %}#}
{#        {% for choice in choices %}#}
{#        <input type="radio" value="{{ choice.pk }}" id="{{ choice.pk }}" name="answer" style="height: 20px; width: 20px"> {{ choice.answer }}<hr/>#}
{#        {% endfor %}#}
{#        <input type="submit" value="Select" class="btn btn-primary">#}
{#   </form>#}
