{% extends 'base.html' %}

{% block title %}Create answer{% endblock %}

{% block content %}
    <h3>Create answer</h3>
    <h2>{{ poll.text }}</h2>
     <form action="{% url "answer_add" poll.pk %}" method="POST">
        {% csrf_token %}
         {% for choice in choices %}
            <input type="radio" value="{{ choice.pk }}" id="{{ choice.pk }}"
                   name="value"> {{ choice.text }}<hr/>
            {% endfor %}
            <input type="submit" value="select" class="btn btn2">
    </form>
{% endblock %}
