{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'poll_add' %}" class="action-btn">+ Add POll +</a></li>
    <li><a href="{% url 'answer' %}" class="action-btn">answer</a></li>

{% endblock %}

{% block content %}
        <div class="home_div">
            {% for polls in poll %}
                <div class="boss_div">
                    <h4>{{ polls.text }}</h4>
                    <div class="for_button">
                        <a href="{% url 'poll' polls.pk %}" class="btn btn1">More >>></a>
                        <a href="{% url 'update_poll' pk=polls.pk %}" class="btn btn3">Edit</a>
                        <a href="{% url 'delete_poll' pk=polls.pk %}" class="btn btn2">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

{% endblock %}
