{% extends 'base.html' %}
{% block title %}List{% endblock %}
{% block menu %}
    <li><a href="{% url 'update_poll' poll.pk %}" class="action-btn">Edit</a></li>
    <li>
        <main>
            <div class="button js-button-campaign action-btn"><span>Delete</span></div>
        </main>
    </li>
     <li><a href="{% url 'create_new_choice' poll.pk %}" class="action-btn">Add choice for poll</a></li>
    <div class="overlay js-overlay-campaign">
        <div class="popup js-popup-campaign">
            <form method="POST" action="{% url 'delete_poll' poll.pk %}">
                {% csrf_token %}
                <h2>Are you sure you want to delete this poll?</h2>
                <button class="action-btn" type="submit">Yes</button>
                <p><a class="action-btn object-tools js-close-campaign">No</a></p>
            </form>
            <div class="close-popup js-close-campaign"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <h3>text: {{ poll.text }}</h3>
    <hr>
    <h3>Choice</h3>
        {% for choice in poll.choice.all %}

            <div class="tracker_for_project">
                <h4>{{ choice.text }}</h4>
                <p class="comment-links">
                    <a href="{% url 'update_choice' choice.pk %}" class="btn btn4">Edit</a>
                    <a href="{% url 'delete_choice' choice.pk %}" class="btn btn1">Delete</a>
                </p>
            </div>
        {% empty %}
            <p>No tracker yet.</p>
        {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}