{% extends 'base.html' %}
{% block title %}List{% endblock %}
{% block menu %}
    <li><a href="{% url 'update_tracker' pk=tracker.pk %}" class="action-btn">Edit</a></li>
    <li><a href="{% url 'project_detail' tracker.project_id.pk %}" class="action-btn">Project</a></li>
    <li>
        <main>
            <div class="button js-button-campaign action-btn"><span>Delete</span></div>
        </main>
    </li>
    <div class="overlay js-overlay-campaign">
        <div class="popup js-popup-campaign">
            <form method="POST" action="{% url 'delete_tracker' pk=tracker.pk %}">
                {% csrf_token %}
                <h2>Are you sure you want to delete this?</h2>
                <button class="action-btn" type="submit">Yes</button>
                <p><a class="action-btn object-tools js-close-campaign">No</a></p>
            </form>
            <div class="close-popup js-close-campaign"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <h3>summary: {{ tracker.summary }}</h3>
    <h4>Project: {{ tracker.project_id }}</h4>
    <p class="for_text">Description: {{ tracker.description }}</p>
    <p>time of created: {{ tracker.created_at }}</p>
    <p>status: <b>{{ tracker.status }}</b>, type: <b>{{ tracker.type }}</b></p>
{% endblock %}